
input:-internal-autofill-selected {
    background-color: transparent !important
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
}
#head0{
  height:110px;
  background-color:#fff;
  box-shadow:5px 0 20px #ccc;

}
#head1{
  height:110px;
  width:990px;
  margin:0 auto;
}
.head_left{
  width:184px;
  height:70px;
  float:left;
  margin-top:15px;
  img {
    width: 150px;
    height: 80px;
  }
}
.head_right{
  float:right;
  margin-top:20px;
}
.font_sty1{
  font-size:12px;
  color:#6B6B6B;
}
.font_sty2{
  font-size:12px;
  color:#0C6DCE;
}
.font_sty3{
  display:inline-block;
  font-size:12px;
  color:#6B6B6B;
  border:1px solid #DADADA;
  width:60px;
  height:20px;
  text-align:center;
  line-height:20px;
  margin-left:5px;
}
/*main主题部分*/
#main0{
  height:500px;
  input {
    outline: none;
    background-color: #fff !important;
  }
}
#main1{
  height:500px;
  width:350px;
  margin:0 auto;
  margin-top:30px;
  li {
    position: relative;
    .regi-err,.regi-hint {
      position: absolute;
      left: 380px;
      top: 0;
      padding: 5px 10px;
      line-height: 20px;
      color: #666;
      height: 40px;
      min-width: 170px;
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      &::before {
        content: "";
        display: block;
        border-left: 0;
        border-right: 10px solid #fff4d7;
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;
        position: absolute;
        top: 20px;
        left: -10px;
      }
    }
    .regi-err {
      background: #fff4d7;
    }
    .regi-hint {
      background: #eee;
      &::before {
        content: "";
        display: block;
        border-left: 0;
        border-right: 10px solid #eee;
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;
        position: absolute;
        top: 20px;
        left: -10px;
      }
    }
  }
}
.main_font1{
  display:inline-block;
  font-size:22px;
  font-weight:800;
  line-height:50px;
  width:350px;
  height:50px;
  text-align:center;
  color: #666;
  user-select: none;
}
.main_li2, .main_li3{
  width:318px;
  height:48px;
  border:1px solid #E2E2E2;
  font-size:16px;
  font-weight:400;
  padding:0 15px;
  margin-bottom:15px;
}
.main_li3{
  width:178px;
  float:left;
}
.li_3{
  width:350px;
  height:50px;
  margin-bottom:15px;
}
.main_yz{
  width:123px;
  height:50px;
  margin-left:15px;
  display:inline-block;
  background-color:#57565F;
  float:right;
  border:0;
  font-size:16px;
  color:#fff;
  text-align:center;
  line-height:50px;
  font-weight:600;
  cursor: pointer;
}
.main_li4{
  width:318px;
  height:48px;
  border:1px solid #E2E2E2;
  font-size:16px;
  font-weight:400;
  padding:0 15px;
  margin-bottom:15px;
}
.main_li6{
  display:inline-block;
  font-size:12px;
  color:#57565F;
  height:20px;
  width:324px;
  line-height:20px;
  margin-bottom:15px;
  margin-left:10px;
}
.main_li6a{
  font-size:12px;
  color:#0C6DCE;
}
.main_li7{
  display:inline-block;
  width:350px;
  height:50px;
  background-color:#FF3C3C;
  font-size:18px;
  color:#fff;
  text-align:center;
  line-height:50px;
  border-radius:5px;
  margin-bottom:15px;
  border: 0;
  cursor: pointer;
}
.main_li8{
  width:350px;
  height:50px;
  display:inline-block;
}
.main_li8_1{
  width:350px;
  height:25px;
  display:inline-block;
  font-size:12px;
  text-align:center;

}
.main_li8_2{
  width:350px;
  height:25px;
  display:inline-block;
  font-size:12px;
  text-align:center;
}

.regi-inp-err {
  border-color: red;
}

// 注册成功
.regi-success {
  width: 800px;
  margin: 30px auto;
  border: 1px solid #ccc;
  padding: 10px 30px;
  background-color: #e4f5e9;

  &::after {
    content: "";
    display: block;
    clear: both;
  }
  .rs-tit-logo {
    float: left;
    width: 125px;
    height: 125px;
    margin-left: 20px;
  }
  .rs-in-wrap {
    float: left;
    margin-left: 40px;
  }
  .rs-tit {
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .rs-tit-info {
    float: left;
    font-size: 20px;
    font-weight: 600;
    color: #666;
  }

  .rs-logname,.rs-nickname {
    margin-left: 200px;
    font-size: 15px;
    color: #666;
    margin-top: 10px;
  }
  .rs-logname-imp {
    color: #f40;
    font-weight: bold;
  }
  .rs-nickname {

  }
  .rs-operator {
    margin-left: 100px;
    margin-top: 20px;
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }
  .rs-to-log,.rs-to-home {
    float: left;
    font-size: 14px;
    font-style: italic;
    a:hover {
      color: #f40;
      text-decoration: underline;
    }
  }
  .rs-to-home {
    margin-left:100px;
  }
  .rs-to-log {
    margin-left: 40px;
    a {
      color: #f40;
    }
  }
}
