.store-hr {
  background-color: #c7cf43;
  height:1px;
  border: none;
}

.spec-wrap {
  width: 1000px;
  margin: 50px auto 0 auto;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
.spec-smail-picture-wrap {
  width: 420px;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.spec-smail-bigone-wrap {
  height: 430px;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
  cursor: move;
}
.sepc-bigglass {
  position: absolute;
  height: 430px;
  width: 420px;
  z-index: 100;
  top: 0;
  left: 430px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #ccc;
  text-align: center;
}
.spec-bigimage {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 840px;
  max-height: 860px;
}

.spec-smail-bigone {
  // cursor: pointer;
}
.spec-smaill-item-wrap {
  padding: 20px 0 10px 0;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
  .spec-priture-item {
    width: 20%;
    box-sizing: border-box;
    padding: 0 5px;
    float: left;
    font-size: 0;
    cursor: pointer;
  }
  .spec-item-img-box {
    border: 2px solid transparent;
  }
  .spec-img-selected {
    border: 2px solid black;
  }
}

.spec-goodinfo {
  width: 580px;
  box-sizing: border-box;
  padding: 5px 30px;
  float: left;
  .spec-good-name {
    text-align: left;
    font-size: 17px;
    font-weight: bold;
  }
  .show-choice {
    padding: 0 5px 5px 5px;
    border: 2px solid #c00;
  }
  .show-choice-title {
    background-color: #fff8f7;
    border-bottom: 1px solid #f3e9e7;
    height: 24px;
    position: relative;
    line-height: 24px;
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
    padding: 2px 10px;
    &::after {
      content: "";
      display: block;
      clear: both;
    }
    .sct-l {
      float: left;
    }
    .sct-r {
      float: right;
      cursor: pointer;
    }
  }
  .spec-good-price {
    padding: 5px 20px;
    margin-top: 15px;
    .sgp-f1 {
      font-size: 10px;
      color: #bbb;
      margin-right: 12px;
    }
    .sgp-f2 {
      font-size: 15px;
      font-weight: bold;
      color: #f40;
    }
    .sgp-f3 {
      color: #f40;
      font-weight: bold;
      font-size: 30px;
    }
  }
}
.sell-count {
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  padding: 5px 0;
  margin: 15px 0;
  text-align: center;
  font-size: 12px;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
  .sell-count-l,.sell-count-r {
    float: left;
    width: 50%;
    box-sizing: border-box;
  }
  .sell-count-l {
    border-right: 1px dotted #ccc;
  }
  .sc-f1 {
    font-size: 12px;
    color: #bbb;
    margin-right: 4px;
  }
  .sc-f2 {
    color: #f40;
    font-size: 12px;
    font-weight: bold;
  }
}
.specName-wrap {
  font-size: 12px;
  line-height: 28px;
  margin-bottom: 5px;
  position: relative;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
  .spec-name {
    // float: left;
    position: relative;
    left: 0;
    top: 0px;
    width: 70px;
    text-align: left;
    color: #838383;
  }
  .spec-value {
    // float: left;
    position: relative;
    top: -28px;
    left: 70px;
    &::after {
    content: "";
    display: block;
    clear: both;
    color: #000;
  }
  }
  .spec-value-item {
    float: left;
    box-sizing: border-box;
    border: 1px solid #666;
    padding: 1px 9px;
    margin-bottom: 5px;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
    &:hover {
      border: 2px solid #f40;
      padding: 0px 8px;
    }
  }
  .item-selected-i {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
  }
  .value-item-selected {
    border: 2px solid #f40;
    padding: 0px 8px;

    .item-selected-i {
      display: block;
    }
  }
}
.spec-number-plus,.spec-number-minus {
  width:11px;
  height: 11px;
}

.g-num-wrap{
  font-size: 12px;
  height: 32px;
  line-height: 30px;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
  .good-number-name {
    float: left;
    width: 70px;
    text-align: left;
    color: #838383;
  }
  .good-number-wrap {
    float: left;
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }
  .spec-num-input-wrap {
    float: left;
  }
  .spec-number-input {
    width: 40px;
    height: 30px;
    box-sizing: border-box;
    // border-color: #a7a6ab;
  }
  .good-number-plus-minus {
    float: left;
    margin-left: 4px;
  }
  .good-num-kucun,.good-num-unit {
    float: left;
    margin-left: 30px;
    color: #878787;;
  }
  .good-num-unit {
    margin-left: 10px;
  }
}
// 数量超过
.good-num-over {
  line-height: 16px;
  color: #666;
  font-size: 12px;
  background-color: #fbfbfb;
  padding: 3px 10px 3px 5px;
  border: 1px solid #efefef;
}
.good-buy-wrap {
  margin-left: 70px;
  line-height: 38px;
  text-align: center;
  font-size: 18px;
  font-family: 'Microsoft Yahei';
  margin-top: 20px;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
  .good-buy-now {
    margin-right: 0;
    float: left;
    overflow: hidden;
    width: 178px;
    height: 38px;
    background-color: #ffeded;
    border: 1px solid #FF0036;
    color: #FF0036;
    outline: none;
    cursor: pointer;
  }
  .add-shopcat {
    background-color: #ff0036;
    border: 1px solid #ff0036;
    color: #fff;
    float: left;
    overflow: hidden;
    width: 178px;
    height: 38px;
    outline: none;
    cursor: pointer;
    margin-left: 20px;
  }
  .buy-now-noPost {
    background-color: #f9f9f9;
    color: #818181;
    border: 1px solid #818181;
  }
  .add-shopcat-noPost {
    background-color: #818181;
    color: #fff;
    border: 1px solid #818181;
  }
}

// 商品详情评论
.product-info-wrap {
  width: 1000px;
  margin: 0 auto;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
.product-info-box {
  width: 790px;
  float: right;
}
.product-info-nav {
  border: 1px solid #ccc;
  margin-top: 30px;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
  .pin-1, .pin-2 {
    float: left;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
    // &::after {
      // content: "";
      // display: block;
      // width: 1px;
      // height: 14px;
      // position: absolute;
      // right: 0;
      // top: 13px;
      // background-color: #ccc;
    // }
  }
  .product-info-selected {
    border: 1px solid #ccc;
    border-top: 2px solid #f40;
    border-bottom: 0;
    &::after {
      display: none;
    }
  }
}
.info-picture-item {
  text-align: center;
  font-size: 0;
  background-color: #eee;
  img {
    max-width: 790px;
  }
}
.spec-comment-count {
  color: #35a;
  margin: 0 0 0 5px;
  font-weight: 700;
}
// 评论
.comm-item {
  padding: 10px 0 ;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
}
.comm-i-nickname {
  color: #666;
  line-height: 60px;
}
.comm-i-content {
  line-height: 30px;
}
.comm-i-creaTime {
  color: #666;
  line-height: 20px;
}
.comm-i-pics {
  height: 50px;
  line-height: 50px;
}
.comm-i-pic-i {
  width: 40px;
  height: 40px;
  padding: 3px;
  overflow: hidden;
  border: 1px solid #ccc;
  vertical-align: middle;
  margin-right: 5px;
  cursor: pointer;
}
.comm-spec-wrap {
  width: 200px;
  margin-top: 20px;
}
.comm-spec {
  margin-right: 20px;
}
.comm-spec-name {
  color: #666;
}
.comm-spec-val {
  color: #999;
}
.comm-bigimg {
  position: fixed;
  left: 50%;
  top: 50%;
  height: 400px;
  // min-height: 200px;
  width: 600px;
  // min-width: 300px;
  margin-left: -200px;
  margin-top: -300px;
  overflow: hidden;
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB3ElEQVQ4T6WTMWiTURDH/3ckHzGClIAIQSXDJyHfewaKIF2Ko4O4SBGHDiLiILq4uIqTKDgJOlQoVbt16KaDOIgoaBGSey8QMkSkg1NBCOiHvpMvpOFLm6roG4+73/3v/vcI//loWn0cx4ejKFpk5lII4buqrnY6nU/TcicAcRwfiKLoPjNfBKCqKkRkAVAIYTlN0xu9Xu9rHjQGVKvVcqVSeQfgaAjhZqFQeNpqtQbNZnN/COECgHsANkVkFsCPbcgYYIx5QETn0zSd7Xa7mzvlWmsPqepHVX3kvb89AUiSpMLMX0IIC9779b32aow5DWB9MBjM9Pv9b1neUEGSJAtE9Mw5tw9A+J0x1totVT3nnHuVB1xh5usicjwLWmt1J0REhs2MMdmelpxzS2OAMeYsET0RkZk/nUWmYDTqy7yC4Q4AnBCR1l6Qer1eLxaLG0R0pN1ub40BI2mZC3MiMpe3KQdja+0bAC9E5NYuG3N3MABwSUQ620mNRuMYMz8monkAV0Xk4S5AFqjVaqVyuXyHma+p6oaqvmXmk6qaHc9dAB+IaE1VLzvnViZGyM8dx/HBUqk0r6oxgM+q+t573xtZvkhEK6p6ynv/eupn+gsnzojIcwA//wmQb/AL1KnFEXCpOC0AAAAASUVORK5CYII="),pointer;
  vertical-align: middle;
  text-align: center;
  line-height: 400px;
  background-color: rgba(0,0,0,.5);
  img {
    max-height: 400px;
    vertical-align: middle;
  }
}
